<p>
  <strong><%= comment.commenter %>: </strong><em><%= comment.body %></em>
  <%= link_to 'Delete Comment', [comment.post, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>

